@media all and (min-width:992px) and (max-width:1199px)
{
.container{
    width: 100%;
    margin: auto;
}

/*Popular*/

.popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    align-content: center;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1em;
    font-size: 0.8em;
}
.full-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0.6em;
}
.box{
    width: 40%;
    height: 27%;
    border-radius: 1rem;
    box-shadow: 0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}
.box img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 8em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

/*MostPopular*/

.full-box-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}
.most-popular-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;
}
.box-aside{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 20%;
    border-radius: 1rem;
    box-shadow: 0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}
.box-aside img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
}

/*activities*/

.full-activities{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 3em;
    width: 100%;
    height: 20em;
}
.box-port{
    width: 22%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-port img{
    height: 87%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-pomegues-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 100%;
}
.box-pomegues{
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-pomegues img{
    height: 76%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 20% 50%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-frioul{
    width: 100%;
    height: 40%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-frioul img{
    height: 69%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-calanques{
    width: 22%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-calanques img{
    height: 87%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-dame-longchamp{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 22%;
    height: 100%;
}
.box-longchamp{
    width: 100%;
    height: 51%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-longchamp img{
    height: 76%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-dame{
    width: 100%;
    height: 39%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-dame img{
    height: 71%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*footer*/

.FooterText {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}