@font-face
{
    font-family: 'Raleway';
    src: url('font/Raleway');
    src: url('font/Raleway-Italic-VariableFont_wght.ttf') format('ttf'),
         url('font/Raleway-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Raleway', Arial, sans-serif;

}
a:link {
    text-decoration: none;
}
.bolder{
    font-weight: bolder;
}

/*Header*/

.container {
	width: 1440px;
	max-width: 100%;
  	margin: auto;
}
.main-header .container {
	display: flex;
	align-items: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-top: 0;
}
.header img {
	max-width: 100%;
	height: auto;
}
.main-nav-menu{
    margin-top: 0;
}
.main-nav li {
	display: inline;
    text-decoration: none;
}
.main-nav li #text:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
#inscription{
    font-weight: bold;
    color: #0065FC;
}
.main-nav a{
	display: inline-block;
	padding:  2em 2em;
}

/*search bar*/

.filter-menu{
    width: 1440px;
    max-width: 100%;
    margin: auto;
}
.filter-menu #FilterTitle{
    font-size: 1.4em;
    font-weight: bolder;
}
.searchbar{
    border: 0 solid #f2f2f2;
    display: inline-flex;
    max-width: 100%;   
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 5px;        
}
.icon{   
    display: flex; 
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    width: 45px;
}
.textsearch{
    width: 200px;
    padding-left: 10px;
    border-style: hidden;
}
.research{
    background-color: #0065FC;
    width: 44%;       
    border: none;
    color: white;
    font-weight: bold;
}

/*Filters*/

.filters-icons{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}
.searchFiltersFilter:hover{
    background-color: #0065FC;
}
.searchFiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.searchFiltersFilterWrapicon {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
}
.searchFiltersFilterTitle{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.Filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

/*info bar*/

.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
}
.InfoIcon{
    display: flex;
    color: blue;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}
.infotitle{
    display: flex;
    margin-left: 15em;
}

/*Body section class=hebergements*/

.hebergements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 1440px;
    max-width: 100%;
    margin: auto;
}

/*Body class=popular*/

.popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    min-height: 38em;
    align-content: center;
    text-align: left;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1em;
}
.full-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;    
}
.box{
    width: 25%;
    height: 35%;
    border-radius: 1rem;
    box-shadow :0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}
.box img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 110px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;   
}
.empty-star{
    color: #F2F2F2;
}
.full-star{
    color: #0065FC;
}
.descriptif{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-left: 1em;
}

/*Body aside class=Most popular*/

.most-popular{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 38em;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1em;
}
.most-popular-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.full-box-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-top: 1em;
}
.box-aside{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 25%;
    border-radius: 1rem;
    box-shadow :0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}  
.box-aside img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;   
}
.descriptif-aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0.5em;
    font-size: 0.9em;  
}
.box-aside-bleu{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 25%;
    border-radius: 1rem;
    box-shadow :0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}  
.box-aside-bleu img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;   
}
.descriptif-aside-bleu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0.5em;
    font-size: 0.9em;  
}

/*Section Activities*/

.activities{
    width: 1440px;
    max-width: 100%;
    margin: auto;
    padding-top: 3em;
}
.full-activities{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 3em;
    width: 100%;
    height: 25em;
}
.text-activities{
    margin-left: 10px;    
}
/*Box Dame-Longchamp*/

.box-dame-longchamp{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}
.box-longchamp img{
    height: 76%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;  
}
.box-longchamp{
    width: 100%;
    height: 51%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-dame img{
    height: 71%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;  
}
.box-dame{
    width: 100%;
    height: 39%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}

/*Box pomegues-frioul*/

.box-pomegues-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}
.box-pomegues img{
    height: 79%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 40%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;  
}
.box-pomegues{
    width: 100%;
    height: 54%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-frioul img{
    height: 69%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;  
}
.box-frioul{
    width: 100%;
    height: 39%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}

/*box calanques*/

.box-calanques img{
    height: 88%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-calanques{
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}

/*box-port*/

.box-port img{
    height: 88%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-port{
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}

/*footer*/

footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 4em;
}
.FooterText{
    display: flex;
    width: 1440px;
    max-width: 100%;
    margin: auto;
}
.FootText{
    font-size: 1.3em;
}
.nos-hebergements{
    margin-left: 20%;
}
.assistance{
    margin-left: 20%;
}