@media all and (min-width:768px) and (max-width:991px)
{

/*header*/

.main-header{
    width: 80%;
    align-content: center;
    margin: auto;
}
.container{
    display: inline-block;
    justify-content: center;
    margin: auto;
}
.logoReservia{
    float: left;
    width: 250px;
    border: 1px solid black;
}
.main-nav-menu{
    float: right;
}
.main-nav li #text:hover{
    border-bottom: 3px solid #0065FC;
    border-top: none;
    color: #0065FC;
}

/*filterMenu*/

.filter-menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    align-content: center;
}
.filter-menu #FilterTitle{
    font-size: 1.3em;
    font-weight: bolder;
}
.Filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 90%;
}
.filters-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}
.searchFiltersFilter {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}

/*hebergements*/

.hebergements {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
    margin: auto;
}
.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 45em;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1em;
}
.full-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.box {
    width: 45%;
    height: 27%;
    border-radius: 1rem;
    box-shadow: 0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}

.most-popular {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1em;
    height: 39em;
    margin-bottom: 5em;
}
.most-popular-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.full-box-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 84%;
    margin-top: 1em;
}
.box-aside {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 25%;
    border-radius: 1rem;
    box-shadow: 0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}
.box-aside img {
    width: 45%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
}
.box-aside-bleu {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 25%;
    border-radius: 1rem;
    box-shadow: 0 6px 10px grey;
    padding: 0.5em;
    background-color: white;
}
.box-aside-bleu img {
    width: 45%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
}

/*activities*/

.activities {
    width: 75%;
    margin: auto;
    padding-top: 3em;
    height: 80em;
    padding-bottom: 5em;
}
.full-activities {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1em 0 1em 0;
}
.box-port {
    width: 100%;
    height: 15%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-port img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-pomegues-frioul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}
.box-pomegues {
    width: 100%;
    height: 45%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-pomegues img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    object-position: 30%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-frioul {
    width: 100%;
    height: 45%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-frioul img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    object-position: 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-calanques {
    width: 100%;
    height: 15%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-calanques img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-dame-longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}
.box-longchamp {
    width: 100%;
    height: 45%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-longchamp img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    object-position: 40%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}
.box-dame {
    width: 100%;
    height: 45%;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px #d6d6d6;
    font-size: 0.9em;
}
.box-dame img {
    height: 76%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F2F2F2;
    margin-top: 6em;
}
.FooterText {
    display: flex;
    width: 75%;
    justify-content: space-between;
    font-size: 0.9em;
}
.FootText{
    font-size: 1.2em;
}